{
  "presets": [ "stage-2", "react",[ "es2015", {"modules": false} ] ],
  "plugins": ["transform-class-properties", "transform-async-to-generator"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "transform-async-to-generator"]
    }
  }
}