@import '../constants/_variables.scss';

.header {
  width: calc(100% - 4px - 4px);
  padding: {
    top: 12px;
    bottom: 48px;
    left: 4px;
    right: 4px;
  };
  background-size: cover;
  background-position: 50%;
  background-image: url("/static/img/netflix-bg.jpg");

  color: #FFFFFF;

  text-transform: uppercase;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: {
      bottom: 36px;
    }

    & > p {
      text-transform: lowercase;
      color: $red;
      font-size: 12px;
    }

    & > a {
      text-decoration: none;
      width: 78px;
      font-size: 14px;
      border: 1px solid $grey;
      background-color: $white;
      text-align: center;
    }
  }

  &__content {
    &-title {
      font-size: 14px;
    }

    &-input {
      width: calc(100% - 8px - 8px);
      margin-top: 8px;
      padding: {
        left: 8px;
        right: 8px;
      }
      outline: none;
      border: none;
      height: 28px;
      background-color: $black;
      color: $white;
      border-bottom: 1px solid $red;

      &--invalid {
        font-size: 12px;
        color: $white;
        text-transform: lowercase;
      }
    }
  }
}

.header {
  & > div {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
  }
}

.header__footer,
.header__footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__footer {
  padding-top: 18px;
  padding-bottom: 18px;
  justify-content: space-between;
  font-size: 11px;

  input[type="radio"] {
    display: none;
  }

  label {
    background-color: $grey;
    padding: {
      right: 8px;
      left: 8px;
    }
    margin: {
      left: 4px;
      right: 4px;
    }
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    background-color: $light-red;
  }

  label,
  button {
    padding: {
      top: 8px;
      bottom: 8px;
    }
  }

  button {
    max-width: 128px;
    width: 100%;
    color: $white;

    text-transform: uppercase;

    background-color: $light-red;
    outline: none;
    border: none;

    cursor: pointer;
  }
}
